mixin bootstrap-nav
    nav(class="navbar navbar-inverse")
        .container
            ul(class="nav navbar-nav")
                li(class="navigation-link")
                    a() Home
                li
                    a() XXX
                li
                    a() WHATEVER
                


        



