mixin bootstrap-nav
    div(class="navbar navbar-inverse" role="navigation")
        ul(class="nav navbar-nav")
            li(class="navigation-link")
                a() Products
            li(class="navigation-link")
                a() News
            li(class="navigation-link")
                a() Contact 
            li(class="navigation-link")
                a() About
        form(class="navbar-form navbar-right" role="search")
            div(class="nav-search")
                div(class="input-group")
                    input(type="text" class="form-control search-bar" placeholder="Search" name="q")
                    span(class="input-group-btn")
                        button(class="btn" type="submit")
                            span(class="glyphicon glyphicon-search")
        


            



