include ./hamburger-overlay

mixin bootstrap-nav
    div(class="navbar-wrapper" id="defaultNav")
        div(class="container-fluid")
            div(class="navbar navbar-inverse navbar-static-top")
                div(class="navbar-header")
                    a(class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                div(class="navbar-collapse collapse")
                span(class="navbar-brand" id="navbarBrandLargeScreen" href="#") THE LOGO
                ul(class="nav-menu" id="navList")
                    li(class="navigation-link")
                        a(class="nav-link" id="products" href="/products") Products
                    li(class="navigation-link")
                        p(class="nav-link") News
                    li(class="navigation-link")
                        p(class="nav-link") About

    div(class="navbar-wrapper" id="hamburgerNav")
        div(class="container-fluid")
            div(class="navbar navbar-inverse navbar-static-top")
                div(class="navbar-header")
                    a(class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                span(class="navbar-brand" id="navbarBrandSmallScreen" href="#") THE LOGO
                div(class="navbar-collapse collapse")
                div(class="hamburger" id="hamburgerMenu") &#9776;
    +hamburger-overlay
        

                

        


            



