mixin hamburger-overlay
    div(id="myNav" class="overlay")
        a(href="javascript:void(0)" class="closebtn" onclick="closeNav()") x
        div(class="overlay-content")
            a(class="overlay-content-links" href="#") Products
            a(class="overlay-content-links" href="#") News
            a(class="overlay-content-links" href="#") About