include ./navigation.pug
include ./bootstrap-banner
include ./bootstrap-nav
include ./about
include ./block

html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet")
        link(rel='stylesheet', href='/css/homepage.css')
        
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')

    body
        +bootstrap-nav
        +bootstrap-banner
        .container-fluid#aboutContainer
            div(class="row about-container")
                +about
        .container-fluid#blockContainer
            div(class="row block-container")
                +block
    

        
    