html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet")
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet")
        link(rel='stylesheet', href='/css/homepage.css')
        
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/scripts/product-detail.js')
        script(src="/socket.io/socket.io.js")
           

    body
        div(class="container" style="padding:40px;")
            h2() Create
            script(src="/socket.io/socket.io.js")
            
            script.
                $(function(){
                  var socket = io('http://127.0.0.1:8000');
                  $('form').submit(function(){
                      console.log($('#m').val())
                      socket.emit('chat message', $('#m').val());
                      $('#m').val('');
                      return false;
                  });
                  socket.on('chat message', function(msg){
                      $('#messages').append($('<li>').text(msg));
                  })
                });
                //- socket.on('news', function (data) {
                //-     var div = document.getElementById("news-list");
                //-     console.log("Rendering news : ",data);

                //-     for(var i = 0;i < data.length;i++){
                //-         var newsItem = data[i];
                //-         div.innerHTML += "<h3>" + newsItem.title + ' <small>'+ newsItem.date + "</small></h3><br>";
                //-     }
                //-     socket.emit('my other event', { my: 'data' });
                //- });
            ul(id="messages")
            form(action='')
                input(id="m" autocomplete="off")
                button() Send
            form(id="productDetailForm")
                div()
                    span(class="todo-textbox-label") Enter Todo 'title'
                    div()
                        input(type="text" id="title" name="title") 
                    button(id="saveTodo") Save

            div(class="todo-container-header") Todos:
            div(id="todoContainer")


