h1{
    color:#4745d1;
}

p{
    color: white;
}

.container{
    background-color:#fb6754;
}
a{
    text-decoration: None;
}
.navbar{
    background-color: #4745d1;
}
.nanavigation-link{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
